
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
      <h2> You said : </h2>
      <p class= "p-answer"><%= @query %> </p>
      <h2> He answers : </h2>
      <p class= "p-answer"><%= @answer %></p>
      </div>
    </div>
  </div>
</div>



