<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <form class="text-center" action="/answer">
          <label for="question">Speak to your coach</label>
          <input type="text" id="question" name="query" placeholder="what time is it?">
          <input type="submit" value="Go on!" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
